

.algo-list .btn{
    margin: 10px;
}

.upload{
    position: relative;
    width: 500px;
    height: 200px;
    border: 1px dashed #000000;
    margin: 30px auto;
    border-radius: 6px;
}
.upload:hover{
    border-color: #5cb85c;
}
.tips_text{
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.upload_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.algo-list{
    text-align: center;
}

.show_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.panel_base64 {
    width: 90%;
    max-width: 560px;
    margin: 10vh auto;
}
.base64_body {
    word-break: break-all;
    max-height: 50vh;
    overflow-y: auto;
    text-align: center;
}
.base64_area {
    width: 100%;
    height: 100%;
    resize: none;
    text-align: left;
}
.base64_close {
    float: right;
}
.base64_body img {
    max-width: 100%;
}

.btn_handle {
    cursor: pointer;
}
.btn_handle + .btn_handle {
    margin-left: 10px;
}

.done_tips {
    margin-bottom: 10px;
}
